# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\MselfProject\Principles-Practice-and-Application-of-Python-Artificial-Intelligence\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
